p {
    color: rgb(0, 255, 21);
}

.tag2 {
    color: red;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#blackbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}
